* {
    margin: 0;
    padding: 0;
  }
  .logo span{
    color:#ff004f;
  }
  .event-type{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }
  .card-img{
    width: 100px;
    height: 120px;
  }
  .card{
    margin: 20px;
    padding: 20px;
  }
  .card .card-text{
    align-items: start;
    padding: 2rem;
  }

  .card-btn {
    display: block;
    width:30%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
  }
  
  .card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
  }
  
  .card-btn:hover,
  .card-btn:active {
    background-color: #c2cffc;
  }
  
  .card-btn:hover span,
  .card-btn:active span {
    margin-left: 1.5rem;
  }
  